<h1>Finance Portfolio Manager</h1>
<p>This is my first rails app!</p>
<br><br>

<% @coins %>

<% for x in @coins['data'] %>

 <% for coin in @my_coins  %>
     <% if coin == x['symbol'] %>
         <%= x['name'] %>: $<%= x['quote']['USD']['price'] %> <br>
         Rank: <%= x['cmc_rank'] %> <br><br>
     <% end %>
    
 <% end %>


<% end %>

<%= link_to "Search crypto or stocks", home_search_path %>